/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body, html {

    /*overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

  
  