<div class="sidebar">
    <h2>Sistema de PPP</h2>
    <div class="profile">
      <img src="perfil1.jpg" alt="Foto de perfil" />
      <h3>Sulamita Valdivia Samia</h3>
      <p>Coordinador</p>
    </div>
    
  <ul class="menu">
    <li *ngFor="let item of items.slice(0, 3)" [routerLink]="item.routerLink" routerLinkActive="active" class="menu-item">
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </li>

    <!-- Separador entre Reporte y Configuración -->
    <li class="menu-separator"></li>

    <!-- Opciones adicionales después del separador -->
    <li *ngFor="let item of items.slice(3)" [routerLink]="item.routerLink" routerLinkActive="active" class="menu-item">
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </li>
  </ul>
</div>